html {
    font-family: sans-serif, "Montserrat";
    font-size: 1.2rem;
    color: #B1D0E0;
}

body  {
    background-color: #1A374D;
}

h1 {
    margin: 12px 0;
    margin-top: 48px;
    text-align: center;
}

a {
    color: #1C6DD0;
    text-decoration: none;
}

a:hover {
    color: #B1D0E0;
}

button {
    padding: 8px 12px;
    background-color: #6998AB;
    color: #B1D0E0;
    border: 2px solid #406882;
    border-radius: 5px;
}

button:hover {
    cursor: pointer;
    color: #1A374D;
    background-color: #B1D0E0;
}

.container {
    width: 80%;
    margin: 0 auto;
}